:root {
  --card-bg: hsl(0, 0%, 10%);
  --card-px: 2em;
  --card-py: 1em;

  --pt-gray-50: hsl(0, 0%, 95%);
  --pt-gray-100: hsl(0, 0%, 90%);
  --pt-gray-200: hsl(0, 0%, 80%);
  --pt-gray-300: hsl(0, 0%, 70%);
  --pt-gray-400: hsl(0, 0%, 60%);
  --pt-gray-500: hsl(0, 0%, 50%);
  --pt-gray-600: hsl(0, 0%, 40%);
  --pt-gray-700: hsl(0, 0%, 30%);
  --pt-gray-800: hsl(0, 0%, 20%);
  --pt-gray-900: hsl(0, 0%, 10%);
  --pt-yellow-50: #faf7eb;
  --pt-yellow-100: #f2ecd5;
  --pt-yellow-200: #e5daac;
  --pt-yellow-300: #d8c782;
  --pt-yellow-400: #cbb559;
  --pt-yellow-500: #bea22f;
  --pt-yellow-600: #988226;
  --pt-yellow-700: #72611c;
  --pt-yellow-800: #4c4113;
  --pt-yellow-900: #262009;
}
