.hidden {
  display: none;
}

.anchor {
  display: block;
  position: relative;
  top: -5.125em; // -82px (Nav height)
  visibility: hidden;
}

// *::selection {
//   background: var(--pt-yellow-400);
//   color: white;
// }

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes outline-flash {
  0% {
    outline: 2px solid var(--pt-gray-200);
    outline-offset: 1em;
  }
  10% {
    outline-offset: 0.25em;
    outline: 2px solid var(--pt-gray-200);
  }
  20%,
  50% {
    outline-offset: 0.5em;
    outline: 2px solid var(--pt-gray-200);
  }
  100% {
    outline-offset: 0.5em;
    outline: 2px solid transparent;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.max-wrap {
  padding: var(--max-wrap-py) var(--max-wrap-px);
  &.max-x {
    padding-top: 0;
    padding-bottom: 0;
  }
  &.max-y {
    padding-left: 0;
    padding-right: 0;
  }
}

ion-icon {
  display: inline-block;
  width: 1em;
  color: currentColor;
  fill: currentColor;
  user-select: none;
  pointer-events: none;
}

.img-box {
  overflow: hidden;
  position: relative;
  user-select: none;
  pointer-events: none;
  background-color: var(--pt-gray-800);
}
.img-box-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aspect-1-1 {
  padding-top: 100%;
}
.aspect-16-9 {
  padding-top: calc(100% * (9 / 16));
}
.aspect-16-9_75 {
  padding-top: calc(100% * (9 / 16 * 0.75));
}

a,
button {
  cursor: pointer;
}
a {
  transition: all 0.1s ease;
  // &:not(.no-focus-ring) {
  outline-offset: 0.5em;
  &:focus {
    outline: 2px solid var(--pt-yellow-400);
    outline-offset: 0.25em;
  }
  // }
}
.pt-btn {
  display: flex;
  align-items: center;

  white-space: nowrap;

  letter-spacing: 0.05em;
  border-radius: 0.25em;
  transition: all 0.1s ease;
  outline-offset: 0.5em;
  cursor: pointer;

  user-select: none;

  // &::selection {
  //   background: initial;
  //   color: initial;
  // }

  &:focus {
    outline: 2px solid var(--pt-yellow-400);
    outline-offset: 0.25em;
  }

  &:not(.no-gap) {
    gap: 0.25em;
  }
  &.fill {
    font-weight: 500;
  }

  &.pill {
    border-radius: 999rem;
  }

  padding: 0.5em 1em;
  font-size: 1em;
  ion-icon {
    width: 1.125em;
  }
  &.sm {
    // padding: 0.75em 1em;
    font-size: 0.75em;
    // ion-icon {
    //   width: 1.125em;
    // }
  }
  &.lg {
    padding: 0.75em 1em;
    font-size: 1.125em;
    // ion-icon {
    //   width: 1.125em;
    // }
  }
  &.border {
    border: 1px solid;
  }
  &.primary {
    &.fill {
      background-color: var(--pt-yellow-400);
      color: black;
    }
    &.border {
      border-color: var(--pt-yellow-400);
      color: var(--pt-yellow-400);
      &:hover {
        border-color: white;
        color: white;
      }
    }
  }
  &.white {
    &.fill {
      background-color: white;
      color: black;
    }
    &.border {
      border-color: white;
      color: white;
      &:hover {
        border-color: white;
        color: white;
      }
    }
  }
  &.medium {
    &.fill {
      background-color: var(--pt-gray-800);
      color: white;
      &.transparent {
        background-color: hsla(0, 0%, 100%, 0.25);
        backdrop-filter: blur(1em);
      }
    }
    &.border {
      border-color: var(--pt-gray-300);
      color: var(--pt-gray-300);
      &:hover {
        border-color: white;
        color: white;
      }
    }
  }
}
