.hero {
  position: relative;
  margin-top: -5.125em; // -82px (Nav height)
  .img-box {
    position: relative;
    &::after {
      content: '';
      @include absolute(0, 0, 0, 0, 1);
      @include scrimGradient(black, 'to right');
      opacity: 0.75;
      @media only screen and (max-width: 768px) {
        @include scrimGradient(black, 'to top');
        opacity: 1;
      }
    }
  }
  .img-box-inner {
    // background-image: url(../img/hero.jpg);
    background-position: 75% center;
    @media only screen and (max-width: 1440px) {
      padding-top: 56.25%;
    }
    @media only screen and (max-width: 768px) {
      padding-top: 60%;
    }
    @media only screen and (max-width: 568px) {
      padding-top: 120%;
    }
  }
  .text-box {
    z-index: 1;
    display: flex;
    align-items: center;
    @include absolute(0, 0, 0, 0);
    .title {
      pointer-events: none;
      user-select: none;
      width: 25vw;
      max-width: 30em;
      // outline: 2px solid orange;
    }
    h2 {
      font-size: 2em;
      // font-size: 1.75vw;
      font-weight: 500;
    }
    p {
      max-width: 50vw;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      margin-top: 1em;
      // font-size: 1.2vw;
      // font-size: 1vw;
      font-size: 1.25em;
      // font-size: 1.125em;
      line-height: 1.5;

      text-shadow: 0 0.125em 0.5em hsla(0, 0%, 0%, 0.5);
      color: hsla(0, 0%, 100%, 0.875);
    }
    @media only screen and (max-width: 1200px) {
      .title {
        width: 50vw;
        max-width: 16em;
      }
      p {
        font-size: 1em;
      }
    }
    @media only screen and (max-width: 981px) {
      position: relative;
      margin-top: -12em;
      .title {
        width: 64vw;
        max-width: 20em;
      }
      p {
        max-width: none;
        // font-size: 1em;
      }
    }
  }
  .btn-wrap {
    display: flex;
    gap: 0.75em;
    margin-top: 1em;

    // button {
    // }
  }
}
