.drama-nav {
  // @include fixed(0, 0, null, 0, 100);
  @include sticky(0, 0, null, 0, 100);
  height: max-content;
  transition: all 0.2s ease;
  &::after {
    content: '';
    @include absolute(0, 0, -2em, 0);
    @include scrimGradient(black);
    z-index: -1;
  }

  &.scrolled {
    background: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(3em) saturate(120%);
  }

  a {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 1em;
    // background-color: aliceblue;
    border-radius: 0.125em;
    transition: 0.2s ease;
    transition-property: color, background-color, outline, border;
    outline-offset: 0.5em;

    &:focus {
      outline: 2px solid var(--pt-yellow-400);
      outline-offset: 0.25em;
    }
  }

  .main,
  .nav-link-inner {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
    // background-color: bisque;
  }

  .nav-link {
    flex: 1;
    .back-to-pt {
      margin-left: auto;
      a {
        display: inline-flex;
        font-weight: normal;
        background-color: transparent;
        // color: var(--pt-gray-100);
      }
    }
  }

  .logo {
    width: 150px;
    height: 50px;
    background-color: var(--pt-yellow-400);
  }
  ul {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .account {
    display: flex;
    gap: 1em;
    a {
      font-size: 1.125em;
    }
  }

  .category {
    a {
      // color: var(--pt-gray-100);
      color: white;

      // &:hover,
      // &:focus {
      //   // color: var(--pt-gray-50);
      //   color: white;
      // }
      &:hover {
        // color: var(--pt-yellow-400);
        background: var(--pt-gray-900);
      }
    }
  }

  .menu-btn {
    display: none;
    top: 0.25em;
    // right: 0.25em;
    z-index: 102;
    pointer-events: auto;
    user-select: auto;
    // outline: 1px solid lime;
  }
  &.scrolled {
    .menu-btn {
      background-color: transparent;
      backdrop-filter: none;
    }
  }
  @media only screen and (max-width: 1024px) {
    .nav-link {
      // display: none;
      display: block;
      overflow-y: scroll;
      @include fixed(0, 0, null, 0, 101);
      width: 100%;
      height: 100vh;
      transition: 0.2s ease;
      transition-property: opacity, transform;
      background: #000;
      opacity: 0;

      user-select: none;
      pointer-events: none;
      visibility: hidden;

      .nav-link-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        @include absolute(0, 0, null, 0);
        min-height: 100vh;
        width: 100%;
        padding: 2em;
        font-size: 125%;

        transition: all 0.2s ease;
        transform: translateY(1em);
      }

      .category {
        // outline: 1px solid lime;
        flex-direction: column;
      }
      .back-to-pt {
        // outline: 1px solid lime;
        // margin-top: 0.25em;
        margin-top: 0.5em;
        margin-left: 0.25em;
        @include fixed(0, null, null, 0);
        a {
          gap: 0.25em;
          margin: 0.875em;
          padding: 0.5em 1em;
          font-size: 0.75em;
          border-radius: 0.25em;
        }
      }
      .account {
        // outline: 1px solid lime;
        text-align: center;
        flex-direction: column;
        a {
          font-size: 1em;
        }
      }

      &.active {
        pointer-events: auto;
        user-select: auto;
        visibility: visible;
        opacity: 1;

        .nav-link-inner {
          transform: translateY(0);
        }
      }
    }
    .menu-btn {
      display: flex;
    }
  }
}
