@import './mixin';

.drama-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: max-content;
  // background-color: lawngreen;
  // @include scrimGradient(black, transparent);
  // background-color: lime;
  transition: all 0.2s ease;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2em;
    @include scrimGradient(black, transparent);
    z-index: -1;
    // transition: all 0.2s ease;
  }

  &.scrolled {
    background: hsla(0, 0%, 0%, 0.5);
    // background: black;
    backdrop-filter: blur(3em) saturate(120%);
    // &::after {
    // opacity: 0;
    // }
  }

  a {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 1em;
    // background-color: aliceblue;
    border-radius: 0.125em;
    transition: all 0.2s ease;
    outline-offset: 0.5em;

    &:focus {
      outline: 2px solid var(--pt-yellow-400);
      outline-offset: 0.25em;
    }
  }

  .back-to-pt {
    margin-left: auto;
    // margin-bottom: 0.5em;
    a {
      display: inline-flex;
      // align-items: center;
      // gap: 0.25em;
      // padding: 0.5em 1em;
      // font-size: 0.75em;
      color: var(--pt-gray-100);
      // background: var(--pt-gray-900);
      // ion-icon {
      // }
    }
  }

  .main {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
    // background-color: bisque;
  }

  .logo {
    width: 150px;
    height: 50px;
    background-color: var(--pt-yellow-400);
  }
  ul {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .account {
    display: flex;
    gap: 1em;
    // margin-left: auto;
    // margin-right: 0;
    // align-self: flex-end;
    a {
      // border: 1px solid var(--pt-yellow-400);
      // color: var(--pt-yellow-400);
      font-size: 1.125em;
      // font-weight: 500;
      // color: black;
      // background: var(--pt-yellow-400);
    }
  }

  .catergory {
    a {
      color: var(--pt-gray-100);

      &:hover,
      &:focus {
        // color: var(--pt-gray-50);
        color: white;
      }
      &:hover {
        // color: var(--pt-yellow-400);
        background: var(--pt-gray-900);
      }
    }
  }
}
