@import './variable';
@import './reset';
@import './mixin';
@import './asset';

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  background-color: black;
  color: white;

  scroll-behavior: smooth;
}

body {
  &.freeze {
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    .preview-modal,
    .video-player {
      user-select: text;
      pointer-events: auto;
    }
  }
}

.menu-btn,
.close-btn {
  justify-content: center;
  @include absolute(0, 0, null, null, 2);
  width: 2.5em;
  height: 2.5em;
  margin: 1em;
  padding: 0.5em;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 999rem;
  backdrop-filter: blur(1em);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.75);
  }
  ion-icon {
    font-size: 1.75em;
  }
}

@import './nav';

.hero {
  position: relative;
  margin-top: -5.125em; // -82px (Nav height)
  .img-box {
    &::after {
      content: '';
      @include absolute(0, 0, 0, 0, 1);
      @include scrimGradient(black, 'to right');
      opacity: 0.75;
    }
  }
  .img-box-inner {
    background-image: url(../img/hero.jpg);
    background-position: top center;
    @media only screen and (max-width: 1024px) {
      padding-top: 56.25%;
    }
  }
  .text-box {
    z-index: 1;
    display: flex;
    align-items: center;
    @include absolute(0, 0, 0, 0);
    .title {
      width: 25vw;
    }
    h2 {
      font-size: 2em;
      // font-size: 1.75vw;
      font-weight: 500;
    }
    p {
      max-width: 50vw;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      margin-top: 0.25em;
      // font-size: 1.2vw;
      // font-size: 1vw;
      font-size: 1.25em;
      line-height: 1.5;

      text-shadow: 0 0.125em 0.5em hsla(0, 0%, 0%, 0.5);
      color: hsla(0, 0%, 100%, 0.875);
    }
  }
  .btn-wrap {
    display: flex;
    gap: 0.75em;
    margin-top: 1em;

    // button {
    // }
  }
}

// .drama {
//   overflow: hidden;
// }
.drama-wrap {
  padding: 3em 0;
  > li {
    position: relative;
    // margin-bottom: 3em;
    // &:last-child {
    //   margin-bottom: 0;
    // }
    // outline: 1px solid firebrick;
    // background: hsla(0, 100%, 62%, 0.2);
    // &:nth-child(even) {
    //   background: hsla(100, 100%, 62%, 0.2);
    // }
  }
  // > li + li {
  //   margin-top: 3em;
  // }

  header {
    position: relative;
    z-index: 1;
    // position: sticky;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    margin-bottom: -7em;
    padding: 1em var(--max-wrap-px);

    h3,
    a {
      display: inline-flex;
      align-items: center;
    }
    h3 {
      font-size: 1.375em;
      // font-weight: 500;
    }
    a {
      gap: 0.125em;
      font-weight: 400;
      color: var(--pt-yellow-400);
      // span {
      // }
      // ion-icon {
      // }
    }

    // .btn-wrap {
    //   display: flex;
    //   gap: 0.5em;
    //   button {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 2em;
    //     height: 2em;
    //   }
    //   // &.prev {
    //   // }
    //   // &.next {
    //   // }
    //   ion-icon {
    //     font-size: 1.5em;
    //     opacity: 0.5;
    //   }
    // }
  }

  .scroll-arrow-wrap {
    button {
      @include absolute(3.625em, auto, 7em, auto, 2);
      // @include absolute(4.625em, auto, 8em, auto, 2);
      transition: all 0.2s ease;
      // border-radius: 0.25em;
      // background-color: aqua;
      background-color: hsla(0, 0%, 0%, 0.5);
      // backdrop-filter: blur(3em);
      &:hover {
        background-color: hsla(0, 0%, 0%, 0.75);
        // background-color: lime;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: 5em;
      // height: 3em;
      margin: auto;
      opacity: 0;
      pointer-events: none;

      // &::before {
      //   content: " ";
      //   @include absolute(-3em, 0, -3em, 0, -1);
      //   background-color: aquamarine;
      // }

      &.prev {
        left: 0;
        // &::before {
        //   right: -2em;
        //   @include scrimGradient(black, 'to right');
        // }
        ion-icon {
          margin-left: -0.125em;
        }
      }
      &.next {
        right: 0;
        // &::before {
        //   left: -2em;
        //   @include scrimGradient(black, 'to left');
        // }
        ion-icon {
          margin-right: -0.125em;
        }
      }
      ion-icon {
        font-size: 3em;
        // opacity: 0.75;
      }
    }
  }

  .scroll-arrow-wrap {
    margin-bottom: -4em;
    user-select: none;
    pointer-events: none;
  }
  @media (hover: hover) {
    .drama-cards {
      pointer-events: none;
    }
    > li:hover {
      // background-color: aqua;
      .drama-cards {
        pointer-events: initial;
        // background: lime;
      }
      .scroll-arrow-wrap.active {
        &.prev {
          button.prev {
            opacity: 1;
            pointer-events: initial;
          }
        }
        &.next {
          button.next {
            opacity: 1;
            pointer-events: initial;
          }
        }
      }
    }
  }
}

@import './drama-cards';
@import './preview-modal';
@import './video-player';
@import './footer';
