:root {
  --max-wrap-px: 3em;
  --max-wrap-py: 1em;
  --card-bg: hsl(0, 0%, 10%);
  --card-px: 2em;
  --card-py: 1em;
  --pt-gray-50: hsl(0, 0%, 95%);
  --pt-gray-100: hsl(0, 0%, 90%);
  --pt-gray-200: hsl(0, 0%, 80%);
  --pt-gray-300: hsl(0, 0%, 70%);
  --pt-gray-400: hsl(0, 0%, 60%);
  --pt-gray-500: hsl(0, 0%, 50%);
  --pt-gray-600: hsl(0, 0%, 40%);
  --pt-gray-700: hsl(0, 0%, 30%);
  --pt-gray-800: hsl(0, 0%, 20%);
  --pt-gray-900: hsl(0, 0%, 10%);
  --pt-yellow-50: #faf7eb;
  --pt-yellow-100: #f2ecd5;
  --pt-yellow-200: #e5daac;
  --pt-yellow-300: #d8c782;
  --pt-yellow-400: #cbb559;
  --pt-yellow-500: #bea22f;
  --pt-yellow-600: #988226;
  --pt-yellow-700: #72611c;
  --pt-yellow-800: #4c4113;
  --pt-yellow-900: #262009;
}
@media only screen and (max-width: 1280px) {
  :root {
    --max-wrap-px: 2.5em;
  }
}
@media only screen and (max-width: 1024px) {
  :root {
    --max-wrap-px: 2em;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --max-wrap-px: 1.5em;
  }
}
@media only screen and (max-width: 568px) {
  :root {
    --max-wrap-px: 1em;
  }
}

/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
:-moz-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

.text-overflow, .drama-card .content > * {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.anchor {
  display: block;
  position: relative;
  top: -5.125em;
  visibility: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@-webkit-keyframes outline-flash {
  0% {
    outline: 2px solid var(--pt-gray-200);
    outline-offset: 1em;
  }
  10% {
    outline-offset: 0.25em;
    outline: 2px solid var(--pt-gray-200);
  }
  20%, 50% {
    outline-offset: 0.5em;
    outline: 2px solid var(--pt-gray-200);
  }
  100% {
    outline-offset: 0.5em;
    outline: 2px solid transparent;
  }
}

@-moz-keyframes outline-flash {
  0% {
    outline: 2px solid var(--pt-gray-200);
    outline-offset: 1em;
  }
  10% {
    outline-offset: 0.25em;
    outline: 2px solid var(--pt-gray-200);
  }
  20%, 50% {
    outline-offset: 0.5em;
    outline: 2px solid var(--pt-gray-200);
  }
  100% {
    outline-offset: 0.5em;
    outline: 2px solid transparent;
  }
}

@keyframes outline-flash {
  0% {
    outline: 2px solid var(--pt-gray-200);
    outline-offset: 1em;
  }
  10% {
    outline-offset: 0.25em;
    outline: 2px solid var(--pt-gray-200);
  }
  20%, 50% {
    outline-offset: 0.5em;
    outline: 2px solid var(--pt-gray-200);
  }
  100% {
    outline-offset: 0.5em;
    outline: 2px solid transparent;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(1em);
         transform: translateY(1em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
       -moz-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.max-wrap {
  padding: var(--max-wrap-py) var(--max-wrap-px);
}
.max-wrap.max-x {
  padding-top: 0;
  padding-bottom: 0;
}
.max-wrap.max-y {
  padding-left: 0;
  padding-right: 0;
}

ion-icon {
  display: inline-block;
  width: 1em;
  color: currentColor;
  fill: currentColor;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.img-box {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  background-color: var(--pt-gray-800);
}

.img-box-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aspect-1-1 {
  padding-top: 100%;
}

.aspect-16-9 {
  padding-top: 56.25%;
}

.aspect-16-9_75 {
  padding-top: 42.1875%;
}

a,
button {
  cursor: pointer;
}

a {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
  outline-offset: 0.5em;
}
a:focus {
  outline: 2px solid var(--pt-yellow-400);
  outline-offset: 0.25em;
}

.pt-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  letter-spacing: 0.05em;
  border-radius: 0.25em;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
  outline-offset: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5em 1em;
  font-size: 1em;
}
.pt-btn:focus {
  outline: 2px solid var(--pt-yellow-400);
  outline-offset: 0.25em;
}
.pt-btn:not(.no-gap) {
  gap: 0.25em;
}
.pt-btn.fill {
  font-weight: 500;
}
.pt-btn.pill {
  border-radius: 999rem;
}
.pt-btn ion-icon {
  width: 1.125em;
}
.pt-btn.sm {
  font-size: 0.75em;
}
.pt-btn.lg {
  padding: 0.75em 1em;
  font-size: 1.125em;
}
@media only screen and (max-width: 1023px) {
  .pt-btn.lg {
    padding: 0.75em 1em;
    font-size: 1em;
  }
}
.pt-btn.border {
  border: 1px solid;
}
.pt-btn.primary.fill {
  background-color: var(--pt-yellow-400);
  color: black;
}
.pt-btn.primary.border {
  border-color: var(--pt-yellow-400);
  color: var(--pt-yellow-400);
}
.pt-btn.primary.border:hover {
  border-color: white;
  color: white;
}
.pt-btn.white.fill {
  background-color: white;
  color: black;
}
.pt-btn.white.border {
  border-color: white;
  color: white;
}
.pt-btn.white.border:hover {
  border-color: white;
  color: white;
}
.pt-btn.medium.fill {
  background-color: var(--pt-gray-800);
  color: white;
}
.pt-btn.medium.fill.transparent {
  background-color: hsla(0deg, 0%, 100%, 0.25);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
}
.pt-btn.medium.border {
  border-color: var(--pt-gray-300);
  color: var(--pt-gray-300);
}
.pt-btn.medium.border:hover {
  border-color: white;
  color: white;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

body.freeze {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
body.freeze .preview-modal,
body.freeze .video-player {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  pointer-events: auto;
}

.menu-btn,
.close-btn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 2.5em;
  height: 2.5em;
  margin: 1em;
  padding: 0.5em;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  border-radius: 999rem;
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
}
.menu-btn:hover,
.close-btn:hover {
  background-color: hsla(0deg, 0%, 0%, 0.75);
}
.menu-btn ion-icon,
.close-btn ion-icon {
  font-size: 1.75em;
}

.drama-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.drama-nav::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2em;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(0deg, 0%, 0%)), color-stop(19%, hsla(0deg, 0%, 0%, 0.738)), color-stop(34%, hsla(0deg, 0%, 0%, 0.541)), color-stop(47%, hsla(0deg, 0%, 0%, 0.382)), color-stop(56.5%, hsla(0deg, 0%, 0%, 0.278)), color-stop(65%, hsla(0deg, 0%, 0%, 0.194)), color-stop(73%, hsla(0deg, 0%, 0%, 0.126)), color-stop(80.2%, hsla(0deg, 0%, 0%, 0.075)), color-stop(86.1%, hsla(0deg, 0%, 0%, 0.042)), color-stop(91%, hsla(0deg, 0%, 0%, 0.021)), color-stop(95.2%, hsla(0deg, 0%, 0%, 0.008)), color-stop(98.2%, hsla(0deg, 0%, 0%, 0.002)), to(hsla(0deg, 0%, 0%, 0)));
  background: -webkit-linear-gradient(top, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  background: -moz-linear-gradient(top, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  background: -o-linear-gradient(top, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  background: linear-gradient(to bottom, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  z-index: -1;
}
.drama-nav.scrolled {
  background: hsla(0deg, 0%, 0%, 0.5);
  -webkit-backdrop-filter: blur(3em) saturate(120%);
          backdrop-filter: blur(3em) saturate(120%);
}
.drama-nav a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5em 0.75em;
  font-size: 1em;
  border-radius: 0.125em;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: color, background-color, outline, border;
  -o-transition-property: color, background-color, outline, border;
  -moz-transition-property: color, background-color, outline, border;
  transition-property: color, background-color, outline, border;
  outline-offset: 0.5em;
}
.drama-nav a:focus {
  outline: 2px solid var(--pt-yellow-400);
  outline-offset: 0.25em;
}
.drama-nav .main,
.drama-nav .nav-link-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.drama-nav .nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.drama-nav .nav-link .back-to-pt {
  margin-left: auto;
}
.drama-nav .nav-link .back-to-pt a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: normal;
  background-color: transparent;
}
.drama-nav .logo {
  width: 150px;
  height: 50px;
  background-color: var(--pt-yellow-400);
}
.drama-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.drama-nav .account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
.drama-nav .user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
}
.drama-nav .user ion-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  font-size: 1.25em;
  opacity: 0.5;
}
.drama-nav .avatar {
  width: 2.5em;
  border-radius: 999rem;
  background-color: hsla(0deg, 0%, 100%, 0.2);
}
.drama-nav .name {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.drama-nav .category a {
  color: white;
}
.drama-nav .category a:hover {
  background: var(--pt-gray-900);
}
.drama-nav .menu-btn {
  display: none;
  top: 0.25em;
  z-index: 102;
  pointer-events: auto;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
.drama-nav.scrolled .menu-btn {
  background-color: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
@media only screen and (max-width: 1024px) {
  .drama-nav .nav-link {
    display: block;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100vh;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    -moz-transition-property: opacity, transform, -moz-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform, -moz-transform;
    background: #000;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    visibility: hidden;
  }
  .drama-nav .nav-link .nav-link-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    padding: 2em;
    font-size: 125%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translateY(1em);
       -moz-transform: translateY(1em);
            transform: translateY(1em);
  }
  .drama-nav .nav-link .category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drama-nav .nav-link .back-to-pt {
    margin-top: 0.5em;
    margin-left: 0.25em;
    position: fixed;
    top: 0;
    left: 0;
  }
  .drama-nav .nav-link .back-to-pt a {
    gap: 0.25em;
    margin: 0.875em;
    padding: 0.5em 1em;
    font-size: 0.75em;
    border-radius: 0.25em;
  }
  .drama-nav .nav-link .account {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drama-nav .nav-link .account a {
    font-size: 1em;
  }
  .drama-nav .nav-link.active {
    pointer-events: auto;
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
    visibility: visible;
    opacity: 1;
  }
  .drama-nav .nav-link.active .nav-link-inner {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
            transform: translateY(0);
  }
  .drama-nav .menu-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  position: relative;
  margin-top: -5.125em;
}
.hero .img-box {
  position: relative;
}
.hero .img-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(hsl(0deg, 0%, 0%)), color-stop(19%, hsla(0deg, 0%, 0%, 0.738)), color-stop(34%, hsla(0deg, 0%, 0%, 0.541)), color-stop(47%, hsla(0deg, 0%, 0%, 0.382)), color-stop(56.5%, hsla(0deg, 0%, 0%, 0.278)), color-stop(65%, hsla(0deg, 0%, 0%, 0.194)), color-stop(73%, hsla(0deg, 0%, 0%, 0.126)), color-stop(80.2%, hsla(0deg, 0%, 0%, 0.075)), color-stop(86.1%, hsla(0deg, 0%, 0%, 0.042)), color-stop(91%, hsla(0deg, 0%, 0%, 0.021)), color-stop(95.2%, hsla(0deg, 0%, 0%, 0.008)), color-stop(98.2%, hsla(0deg, 0%, 0%, 0.002)), to(hsla(0deg, 0%, 0%, 0)));
  background: -webkit-linear-gradient(left, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  background: -moz-linear-gradient(left, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  background: -o-linear-gradient(left, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  background: linear-gradient(to right, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
  opacity: 0.75;
}
@media only screen and (max-width: 768px) {
  .hero .img-box::after {
    background: -webkit-gradient(linear, left bottom, left top, from(hsl(0deg, 0%, 0%)), color-stop(19%, hsla(0deg, 0%, 0%, 0.738)), color-stop(34%, hsla(0deg, 0%, 0%, 0.541)), color-stop(47%, hsla(0deg, 0%, 0%, 0.382)), color-stop(56.5%, hsla(0deg, 0%, 0%, 0.278)), color-stop(65%, hsla(0deg, 0%, 0%, 0.194)), color-stop(73%, hsla(0deg, 0%, 0%, 0.126)), color-stop(80.2%, hsla(0deg, 0%, 0%, 0.075)), color-stop(86.1%, hsla(0deg, 0%, 0%, 0.042)), color-stop(91%, hsla(0deg, 0%, 0%, 0.021)), color-stop(95.2%, hsla(0deg, 0%, 0%, 0.008)), color-stop(98.2%, hsla(0deg, 0%, 0%, 0.002)), to(hsla(0deg, 0%, 0%, 0)));
    background: -webkit-linear-gradient(bottom, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(bottom, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(bottom, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
    background: linear-gradient(to top, hsl(0deg, 0%, 0%) 0%, hsla(0deg, 0%, 0%, 0.738) 19%, hsla(0deg, 0%, 0%, 0.541) 34%, hsla(0deg, 0%, 0%, 0.382) 47%, hsla(0deg, 0%, 0%, 0.278) 56.5%, hsla(0deg, 0%, 0%, 0.194) 65%, hsla(0deg, 0%, 0%, 0.126) 73%, hsla(0deg, 0%, 0%, 0.075) 80.2%, hsla(0deg, 0%, 0%, 0.042) 86.1%, hsla(0deg, 0%, 0%, 0.021) 91%, hsla(0deg, 0%, 0%, 0.008) 95.2%, hsla(0deg, 0%, 0%, 0.002) 98.2%, hsla(0deg, 0%, 0%, 0) 100%);
    opacity: 1;
  }
}
.hero .img-box-inner {
  background-position: 75% center;
}
@media only screen and (max-width: 1440px) {
  .hero .img-box-inner {
    padding-top: 56.25%;
  }
}
@media only screen and (max-width: 768px) {
  .hero .img-box-inner {
    padding-top: 60%;
  }
}
@media only screen and (max-width: 568px) {
  .hero .img-box-inner {
    padding-top: 120%;
  }
}
.hero .text-box {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero .text-box .title {
  width: 25vw;
  max-width: 30em;
}
.hero .text-box h2 {
  font-size: 2em;
  font-weight: 500;
}
.hero .text-box p {
  max-width: 50vw;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.25em;
  font-size: 1.25em;
  line-height: 1.5;
  text-shadow: 0 0.125em 0.5em hsla(0deg, 0%, 0%, 0.5);
  color: hsla(0deg, 0%, 100%, 0.875);
}
@media only screen and (max-width: 1200px) {
  .hero .text-box .title {
    width: 50vw;
    max-width: 16em;
  }
  .hero .text-box p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .hero .text-box {
    position: relative;
    margin-top: -12em;
  }
  .hero .text-box .title {
    width: 64vw;
    max-width: 20em;
  }
  .hero .text-box p {
    max-width: none;
  }
}
.hero .btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75em;
  margin-top: 1em;
}

.drama-wrap {
  padding: 3em 0;
}
@media (max-width: 1023px) {
  .drama-wrap {
    padding: 2em 0;
  }
}
.drama-wrap > li {
  position: relative;
}
.drama-wrap header {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5em;
  margin-bottom: -7em;
  padding: 1em var(--max-wrap-px);
}
.drama-wrap header h3,
.drama-wrap header a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drama-wrap header h3 {
  font-size: 1.375em;
}
@media (max-width: 1023px) {
  .drama-wrap header h3 {
    font-size: 1.25em;
  }
}
.drama-wrap header a {
  gap: 0.125em;
  font-weight: 400;
  color: var(--pt-yellow-400);
}
.drama-wrap .scroll-arrow-wrap button {
  position: absolute;
  top: 3.625em;
  right: auto;
  bottom: 7em;
  left: auto;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  margin: auto;
  opacity: 0;
  pointer-events: none;
}
.drama-wrap .scroll-arrow-wrap button:hover {
  background-color: hsla(0deg, 0%, 0%, 0.75);
}
@media only screen and (max-width: 1023px) {
  .drama-wrap .scroll-arrow-wrap button {
    top: 3.4375em;
  }
}
.drama-wrap .scroll-arrow-wrap button.prev {
  left: 0;
}
.drama-wrap .scroll-arrow-wrap button.prev ion-icon {
  margin-left: -0.125em;
}
.drama-wrap .scroll-arrow-wrap button.next {
  right: 0;
}
.drama-wrap .scroll-arrow-wrap button.next ion-icon {
  margin-right: -0.125em;
}
.drama-wrap .scroll-arrow-wrap button ion-icon {
  font-size: 2em;
}
.drama-wrap .scroll-arrow-wrap {
  margin-bottom: -4em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media (max-width: 1023px) {
  .drama-wrap .scroll-arrow-wrap {
    margin-bottom: -5em;
  }
}
@media (hover: hover) {
  .drama-wrap .drama-cards {
    pointer-events: none;
  }
  .drama-wrap > li:hover .drama-cards {
    pointer-events: initial;
  }
  .drama-wrap > li:hover .scroll-arrow-wrap.active.prev button.prev {
    opacity: 1;
    pointer-events: initial;
  }
  .drama-wrap > li:hover .scroll-arrow-wrap.active.next button.next {
    opacity: 1;
    pointer-events: initial;
  }
}

.drama-cards,
.drama-card {
  --border-radius: 0.25em;
  --gap: 1em;
}
@media only screen and (max-width: 1024px) {
  .drama-cards,
.drama-card {
    --gap: 0.75em;
  }
}
@media only screen and (max-width: 568px) {
  .drama-cards,
.drama-card {
    --gap: 0.5em;
  }
}

.drama-cards {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -webkit-scroll-snap-type: inline mandatory;
      -ms-scroll-snap-type: inline mandatory;
          scroll-snap-type: inline mandatory;
  gap: var(--gap);
  padding-top: 7em;
  padding-bottom: 7em;
  padding-left: var(--max-wrap-px);
  padding-inline: var(--max-wrap-px);
  scroll-padding-inline: var(--max-wrap-px);
}

.drama-card {
  --card-width: -webkit-calc(100vw / 6);
  --card-width: -moz-calc(100vw / 6);
  --card-width: calc(100vw / 6);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  scroll-snap-align: start;
  min-width: var(--card-width);
  max-width: var(--card-width);
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}
.drama-card:last-child::after {
  content: "";
  position: absolute;
  inline-size: var(--max-wrap-px);
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-end: -webkit-calc(var(--max-wrap-px) * -1);
  inset-inline-end: -moz-calc(var(--max-wrap-px) * -1);
  inset-inline-end: calc(var(--max-wrap-px) * -1);
}
@media only screen and (max-width: 1440px) {
  .drama-card {
    --card-width: -webkit-calc(100vw / 5);
    --card-width: -moz-calc(100vw / 5);
    --card-width: calc(100vw / 5);
  }
}
@media only screen and (max-width: 1280px) {
  .drama-card {
    --card-width: -webkit-calc(100vw / 4);
    --card-width: -moz-calc(100vw / 4);
    --card-width: calc(100vw / 4);
  }
}
@media only screen and (max-width: 768px) {
  .drama-card {
    --card-width: -webkit-calc(100vw / 3);
    --card-width: -moz-calc(100vw / 3);
    --card-width: calc(100vw / 3);
  }
}
@media only screen and (max-width: 568px) {
  .drama-card {
    --card-width: -webkit-calc(100vw / 2);
    --card-width: -moz-calc(100vw / 2);
    --card-width: calc(100vw / 2);
  }
}
.drama-card a {
  display: block;
  width: 100%;
}
.drama-card a:focus {
  outline: none;
}
.drama-card a > .img-box {
  border-radius: var(--border-radius);
}
.drama-card .img-box {
  border-radius: var(--border-radius);
}
.drama-card .img-box::before {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  content: attr(data-title);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1;
  padding: 1.5rem;
  font-size: 2vw;
  text-align: center;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
          transform: translateY(-50%);
  color: hsla(0deg, 0%, 100%, 0.2);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .drama-card .img-box::before {
    font-size: 2.5em;
  }
}
@media (max-width: 1024px) {
  .drama-card .img-box::before {
    font-size: 2.25em;
  }
}
@media (max-width: 768px) {
  .drama-card .img-box::before {
    font-size: 2em;
  }
}
@media (max-width: 568px) {
  .drama-card .img-box::before {
    font-size: 1.5em;
  }
}
.drama-card .card-badge {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 1em;
  padding: 0.25em 0.5em;
  text-align: center;
  font-weight: 600;
  background-color: hsla(0deg, 0%, 100%, 0.875);
  color: black;
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0 var(--border-radius) 0.25em hsla(0deg, 0%, 0%, 0.5), 0 0.25em 0.5em hsla(0deg, 0%, 0%, 0.1);
          box-shadow: 0 var(--border-radius) 0.25em hsla(0deg, 0%, 0%, 0.5), 0 0.25em 0.5em hsla(0deg, 0%, 0%, 0.1);
}
@media (max-width: 1023px) {
  .drama-card .card-badge {
    font-size: 0.875em;
  }
}
@media (max-width: 768px) {
  .drama-card .card-badge {
    margin-bottom: 0.75em;
  }
}
.drama-card .detail-box {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: var(--card-bg);
  opacity: 0;
  border-radius: -webkit-calc(var(--border-radius) / 1.1);
  border-radius: -moz-calc(var(--border-radius) / 1.1);
  border-radius: calc(var(--border-radius) / 1.1);
  outline-offset: 0.5em;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform-origin: center;
     -moz-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1) translateY(-webkit-calc(-50% + 2em));
     -moz-transform: scale(1) translateY(-moz-calc(-50% + 2em));
          transform: scale(1) translateY(calc(-50% + 2em));
  -webkit-box-shadow: 0 0.25em 1em black;
          box-shadow: 0 0.25em 1em black;
}
.drama-card .detail-box .img-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.drama-card .main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5em;
  max-width: 100%;
  padding: 1em;
  font-size: 90.9090909091%;
}
.drama-card .content {
  min-width: 0;
}
.drama-card .content h3 {
  font-size: 1em;
}
.drama-card .content .tag {
  margin-top: 0.25em;
  font-size: 0.875em;
  opacity: 0.5;
}
.drama-card .action-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.drama-card .action-btn .play-now,
.drama-card .action-btn .prime-exclusive,
.drama-card .action-btn .buy-now {
  white-space: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: none;
     -moz-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 2;
  border-radius: 999em;
}
.drama-card .action-btn .prime-exclusive,
.drama-card .action-btn .buy-now {
  margin-right: -0.25em;
  padding: 0 0.75em;
}
.drama-card .action-btn .play-now {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: white;
  color: black;
}
@media (hover: hover) {
  .drama-card .action-btn .play-now:focus, .drama-card .action-btn .play-now:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.drama-card .action-btn .play-now ion-icon {
  -webkit-transform: translateX(0.0625em);
     -moz-transform: translateX(0.0625em);
          transform: translateX(0.0625em);
}
.drama-card .action-btn .prime-exclusive {
  border: 1px solid var(--pt-yellow-400);
  color: var(--pt-yellow-400);
}
.drama-card .action-btn .buy-now {
  font-weight: 500;
  background-color: white;
  color: var(--pt-yellow-900);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.drama-card .action-btn .buy-now span {
  display: block;
}
.drama-card .action-btn .buy-now .price {
  height: auto;
}
.drama-card .action-btn .buy-now .label {
  overflow: hidden;
  height: 0;
}
.drama-card .action-btn .buy-now:hover {
  background-color: var(--pt-yellow-400);
}
.drama-card .action-btn .buy-now:hover .price {
  height: 0;
  overflow: hidden;
}
.drama-card .action-btn .buy-now:hover .label {
  overflow: visible;
  height: auto;
}
.drama-card .action-btn .free-for-prime {
  margin-top: 0.5em;
  font-size: 0.75em;
  text-align: right;
  color: var(--pt-yellow-400);
}
.drama-card .caption {
  border-top: 1px solid var(--pt-gray-700);
  padding-top: 1em;
  margin: 0 1em 1em;
  font-size: 0.75em;
  opacity: 0.5;
}
@media (max-width: 1023px) {
  .drama-card {
    --border-radius: 0.125em;
    border-radius: var(--border-radius);
  }
  .drama-card:focus, .drama-card:focus-within {
    outline: 2px solid var(--pt-yellow-400);
    outline-offset: 0.25em;
  }
  .drama-card .detail-box {
    display: none;
  }
}
@media (hover: hover) and (min-width: 1024px) {
  .drama-card:focus-within .detail-box {
    pointer-events: initial;
    outline: 2px solid var(--pt-yellow-400);
    outline-offset: 0.25em;
  }
  .drama-card:hover, .drama-card:focus-within {
    z-index: 2;
  }
  .drama-card:hover .detail-box, .drama-card:focus-within .detail-box {
    pointer-events: initial;
    opacity: 1;
    -webkit-transform: scale(1.1) translateY(-webkit-calc(-50% + 1em));
       -moz-transform: scale(1.1) translateY(-moz-calc(-50% + 1em));
            transform: scale(1.1) translateY(calc(-50% + 1em));
  }
}

.preview-modal {
  display: none;
  overflow-y: scroll;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-top: 3em;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  opacity: 0;
}
@media only screen and (max-width: 1024px) {
  .preview-modal {
    --card-px: 1em;
  }
}
.preview-modal.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.preview-modal.fade-in {
  opacity: 1;
  -webkit-animation: fade-in 0.2s forwards;
     -moz-animation: fade-in 0.2s forwards;
          animation: fade-in 0.2s forwards;
}
.preview-modal.fade-out {
  opacity: 1;
  -webkit-animation: fade-out 0.2s forwards;
     -moz-animation: fade-out 0.2s forwards;
          animation: fade-out 0.2s forwards;
}
.preview-modal .meta {
  font-size: 0.875em;
  line-height: 1.5;
  color: var(--pt-gray-200);
}
.preview-modal .meta span {
  color: var(--pt-gray-400);
}
.preview-modal .meta a:hover {
  text-decoration: underline;
}
.preview-modal .meta a:hover, .preview-modal .meta a:focus {
  color: white;
}
.preview-modal .meta > * ~ * {
  margin-top: 0.5em;
}
.preview-modal header {
  position: relative;
}
.preview-modal header .img-box {
  position: relative;
}
.preview-modal header .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(hsl(0deg, 0%, 10%)), color-stop(19%, hsla(0deg, 0%, 10%, 0.738)), color-stop(34%, hsla(0deg, 0%, 10%, 0.541)), color-stop(47%, hsla(0deg, 0%, 10%, 0.382)), color-stop(56.5%, hsla(0deg, 0%, 10%, 0.278)), color-stop(65%, hsla(0deg, 0%, 10%, 0.194)), color-stop(73%, hsla(0deg, 0%, 10%, 0.126)), color-stop(80.2%, hsla(0deg, 0%, 10%, 0.075)), color-stop(86.1%, hsla(0deg, 0%, 10%, 0.042)), color-stop(91%, hsla(0deg, 0%, 10%, 0.021)), color-stop(95.2%, hsla(0deg, 0%, 10%, 0.008)), color-stop(98.2%, hsla(0deg, 0%, 10%, 0.002)), to(hsla(0deg, 0%, 10%, 0)));
  background: -webkit-linear-gradient(bottom, hsl(0deg, 0%, 10%) 0%, hsla(0deg, 0%, 10%, 0.738) 19%, hsla(0deg, 0%, 10%, 0.541) 34%, hsla(0deg, 0%, 10%, 0.382) 47%, hsla(0deg, 0%, 10%, 0.278) 56.5%, hsla(0deg, 0%, 10%, 0.194) 65%, hsla(0deg, 0%, 10%, 0.126) 73%, hsla(0deg, 0%, 10%, 0.075) 80.2%, hsla(0deg, 0%, 10%, 0.042) 86.1%, hsla(0deg, 0%, 10%, 0.021) 91%, hsla(0deg, 0%, 10%, 0.008) 95.2%, hsla(0deg, 0%, 10%, 0.002) 98.2%, hsla(0deg, 0%, 10%, 0) 100%);
  background: -moz-linear-gradient(bottom, hsl(0deg, 0%, 10%) 0%, hsla(0deg, 0%, 10%, 0.738) 19%, hsla(0deg, 0%, 10%, 0.541) 34%, hsla(0deg, 0%, 10%, 0.382) 47%, hsla(0deg, 0%, 10%, 0.278) 56.5%, hsla(0deg, 0%, 10%, 0.194) 65%, hsla(0deg, 0%, 10%, 0.126) 73%, hsla(0deg, 0%, 10%, 0.075) 80.2%, hsla(0deg, 0%, 10%, 0.042) 86.1%, hsla(0deg, 0%, 10%, 0.021) 91%, hsla(0deg, 0%, 10%, 0.008) 95.2%, hsla(0deg, 0%, 10%, 0.002) 98.2%, hsla(0deg, 0%, 10%, 0) 100%);
  background: -o-linear-gradient(bottom, hsl(0deg, 0%, 10%) 0%, hsla(0deg, 0%, 10%, 0.738) 19%, hsla(0deg, 0%, 10%, 0.541) 34%, hsla(0deg, 0%, 10%, 0.382) 47%, hsla(0deg, 0%, 10%, 0.278) 56.5%, hsla(0deg, 0%, 10%, 0.194) 65%, hsla(0deg, 0%, 10%, 0.126) 73%, hsla(0deg, 0%, 10%, 0.075) 80.2%, hsla(0deg, 0%, 10%, 0.042) 86.1%, hsla(0deg, 0%, 10%, 0.021) 91%, hsla(0deg, 0%, 10%, 0.008) 95.2%, hsla(0deg, 0%, 10%, 0.002) 98.2%, hsla(0deg, 0%, 10%, 0) 100%);
  background: linear-gradient(to top, hsl(0deg, 0%, 10%) 0%, hsla(0deg, 0%, 10%, 0.738) 19%, hsla(0deg, 0%, 10%, 0.541) 34%, hsla(0deg, 0%, 10%, 0.382) 47%, hsla(0deg, 0%, 10%, 0.278) 56.5%, hsla(0deg, 0%, 10%, 0.194) 65%, hsla(0deg, 0%, 10%, 0.126) 73%, hsla(0deg, 0%, 10%, 0.075) 80.2%, hsla(0deg, 0%, 10%, 0.042) 86.1%, hsla(0deg, 0%, 10%, 0.021) 91%, hsla(0deg, 0%, 10%, 0.008) 95.2%, hsla(0deg, 0%, 10%, 0.002) 98.2%, hsla(0deg, 0%, 10%, 0) 100%);
  opacity: 1;
}
@media only screen and (max-width: 568px) {
  .preview-modal header .img-box-inner {
    padding-top: 56.25%;
  }
}
.preview-modal header .feature,
.preview-modal header .text-box {
  padding: var(--card-py) var(--card-px);
}
.preview-modal header .feature {
  gap: 1em;
}
.preview-modal header .feature,
.preview-modal header .feature .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preview-modal header .feature .header {
  gap: 0.125em;
}
.preview-modal header .feature .subtitle {
  font-size: 0.875em;
  font-weight: 300;
  letter-spacing: 0.125em;
}
.preview-modal header .feature .title {
  font-size: 1.75em;
  font-weight: 500;
}
.preview-modal header .text-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
     -moz-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 1em;
}
.preview-modal header .text-box .main {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
     -moz-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}
.preview-modal header .text-box .main > * ~ * {
  margin-top: 1em;
}
.preview-modal header .text-box aside {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
     -moz-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.preview-modal header .text-box aside .meta > * ~ * {
  margin-top: 0.5em;
}
.preview-modal header .text-box aside .view-more {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1.5em;
}
.preview-modal header .text-box .title {
  font-size: 1.25em;
  font-weight: 500;
}
.preview-modal header .text-box .desc {
  font-size: 1.125em;
  line-height: 1.5;
  opacity: 0.875;
}
@media only screen and (max-width: 1024px) {
  .preview-modal header .text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preview-modal header .text-box .desc {
    font-size: 1em;
  }
}
.preview-modal .action-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1em;
}
.preview-modal .action-btn > button,
.preview-modal .action-btn > .prime-exclusive {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2.6666666667em;
}
.preview-modal .action-btn .buy-now {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  background-color: white;
  color: var(--pt-yellow-900);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.preview-modal .action-btn .buy-now span {
  display: block;
}
.preview-modal .action-btn .buy-now .price {
  height: auto;
}
.preview-modal .action-btn .buy-now .label {
  overflow: hidden;
  height: 0;
}
.preview-modal .action-btn .buy-now:hover {
  background-color: var(--pt-yellow-400);
}
.preview-modal .action-btn .buy-now:hover .price {
  height: 0;
  overflow: hidden;
}
.preview-modal .action-btn .buy-now:hover .label {
  overflow: visible;
  height: auto;
}
.preview-modal .action-btn .caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  opacity: 0.5;
}
.preview-modal .action-btn .prime-exclusive {
  pointer-events: none;
}
.preview-modal footer {
  margin-top: 3em;
  padding: var(--card-px) var(--card-px);
}
.preview-modal footer .title {
  color: var(--pt-gray-200);
}
.preview-modal footer .meta {
  margin-top: 1em;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.preview-modal footer .meta.focus {
  -webkit-animation: outline-flash 1s forwards;
     -moz-animation: outline-flash 1s forwards;
          animation: outline-flash 1s forwards;
}
.preview-modal footer .meta .crew > * ~ * {
  margin-top: 0.5em;
}

.modal-wrap {
  overflow: hidden;
  width: 100%;
  min-width: 960px;
  max-width: 50vw;
  min-height: 100%;
  margin: auto;
  background-color: var(--pt-gray-900);
  border-radius: 0.5em 0.5em 0 0;
  -webkit-box-shadow: 0 0.25em 4em black;
          box-shadow: 0 0.25em 4em black;
}
@media only screen and (max-width: 1024px) {
  .modal-wrap {
    min-width: 0;
    max-width: -webkit-calc(100% - 2em);
    max-width: -moz-calc(100% - 2em);
    max-width: calc(100% - 2em);
  }
}
@media only screen and (max-width: 568px) {
  .modal-wrap {
    max-width: 100%;
  }
}

.modal-box {
  position: relative;
}

.ep-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--card-py) var(--card-px);
}
.ep-header .title {
  font-size: 1.5em;
}
.ep-header .season {
  color: var(--pt-gray-200);
}

.ep-list li + li {
  border-top: 1px solid var(--pt-gray-800);
}
.ep-list li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: var(--card-px) var(--card-px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline-offset: -2px;
}
.ep-list li a:focus {
  outline-offset: -4px;
}
.ep-list li a:hover {
  background: var(--pt-gray-800);
}
.ep-list li a > .index {
  -webkit-box-flex: 0;
  -webkit-flex: none;
     -moz-box-flex: 0;
      -ms-flex: none;
          flex: none;
  min-width: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: var(--pt-gray-300);
}
.ep-list li a .img-box {
  overflow: hidden;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
     -moz-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  max-width: 240px;
  border-radius: 0.125em;
  background-color: hsla(0deg, 0%, 100%, 0.1);
}
.ep-list li a .img-box .play-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  border-radius: 999em;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}
.ep-list li a .img-box ion-icon {
  margin-right: -0.125em;
  font-size: 2em;
}
.ep-list li a:focus .img-box .play-button {
  opacity: 1;
}
@media not all and (hover: hover) {
  .ep-list li a .img-box .play-button {
    opacity: 1;
  }
}
@media (hover: hover) {
  .ep-list li a:hover .img-box .play-button {
    opacity: 1;
  }
}
.ep-list li a .text-box {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
     -moz-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}
.ep-list li a .text-box > * {
  word-break: break-all;
}
.ep-list li a .text-box .main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}
.ep-list li a .text-box .main .title {
  font-weight: 500;
}
.ep-list li a .text-box .main .index {
  display: none;
}
.ep-list li a .text-box .desc {
  margin-top: 0.25em;
  line-height: 1.5;
  color: var(--pt-gray-400);
}
@media only screen and (max-width: 1024px) {
  .ep-list li a > .index {
    display: none;
  }
  .ep-list li a .img-box {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
       -moz-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    width: 40%;
  }
  .ep-list li a .img-box .play-button {
    width: 3em;
    height: 3em;
  }
  .ep-list li a .text-box {
    -webkit-box-flex: 6;
    -webkit-flex: 6;
       -moz-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    width: 60%;
  }
  .ep-list li a .text-box .main .index {
    display: inline;
  }
}

.video-player {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
.video-player.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.video-player.fade-in {
  opacity: 1;
  -webkit-animation: fade-in 0.2s forwards;
     -moz-animation: fade-in 0.2s forwards;
          animation: fade-in 0.2s forwards;
}
.video-player.fade-out {
  opacity: 1;
  -webkit-animation: fade-out 0.2s forwards;
     -moz-animation: fade-out 0.2s forwards;
          animation: fade-out 0.2s forwards;
}
.video-player video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.drama-footer {
  margin-bottom: 3em;
}
.drama-footer .max-wrap > * {
  gap: 1em;
  font-size: 0.75em;
}
.drama-footer .max-wrap > *,
.drama-footer .max-wrap > * a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.drama-footer .max-wrap > * ~ * {
  margin-top: 1em;
}
.drama-footer .footer-sns {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.drama-footer .footer-links,
.drama-footer .footer-copyright {
  color: var(--pt-gray-400);
}
.drama-footer .footer-links a:hover,
.drama-footer .footer-copyright a:hover {
  text-decoration: underline;
}
.drama-footer .footer-links a:hover, .drama-footer .footer-links a:focus,
.drama-footer .footer-copyright a:hover,
.drama-footer .footer-copyright a:focus {
  color: white;
}